{{!< default}}

{{#post}}

  <article class="post-container post-container--single">

    <header class="post-header">
      {{#if image}}<img id="post-image" src={{image}} alt="{{{title}}}" style="max-width: 100%; margin: 0 auto; border-radius: 3px; text-align: center; padding-bottom: 1em;">{{/if}}
      <h1 class="post-title">{{{title}}}</h1>
    </header>

    <section class="{{post_class}}">
      {{content}}
    </section>

  </article>

{{/post}}
